body {
    overflow-x: hidden;
}

.font {
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
}

.navbar {
    font-family: 'Gilroy-Bold', sans-serif;
    border-bottom: solid 3px #444;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.8);
    font-family: 'Gilroy-Medium', sans-serif;
    border-radius: 7px;
    padding: 15px;
    width: 500px;
}

.carousel-item {
    height: 750px;
}


.carousel-image-1 {
    background: url('../img/slideshow/IMG_5164.JPG') no-repeat left;
    background-position: 100% 55%;
    background-size: cover;
    
}
.carousel-image-2 {
    background: url('../img/amalfi.jpg')  no-repeat ;
    background-position: 100% 30%;
    background-size: cover;
}
.carousel-image-3 {
    background: url('../img/slideshow/IMG_5165.JPG') no-repeat left;
    background-position: 100% 20%;
    background-size: cover;
}
.carousel-image-4 {
    background: url('../img/slideshow/IMG_8204.JPG') no-repeat left;

    background-size: cover;
    background-position: 100% 35%;
}

#home-icons {
    border-bottom: solid black 3px;
    border-top: solid black 3px;
}

#home-heading {
    position: relative;
    min-height: 200px;
    background: url('../img/beach.jpg');
    background-attachment: fixed;
    background-position: 100% 31%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.countdown-numbers {
    font-size: 80px;
    font-family: 'Gilroy-Bold', sans-serif;
    border-bottom: 1px solid black;
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url('../img/hawaii.jpg');
    background-attachment: fixed;
    background-position:0 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#video-play a {
    color: white;
}

.gallery-image-margin {
    margin-bottom: 10px;
}

.newsletter-signup {
    background-color: aqua;
    text-align: center;
}

.travel-map {
    margin-top: 25px;
}

.gallery-section {
    border-bottom: 2px solid black;
}

#video-play-nyc {
    position: relative;
    min-height: 200px;
    background: url('../img/nyc.jpg');
    background-attachment: fixed;
    background-position:50% 80%;
    /* background-repeat: no-repeat; */
    text-align: center;
    color: #fff;
}

.country-header {
    border-bottom: solid 1px black;
    padding: 10px;
    margin: 0 50px 50px 50px;
}

.photo-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}


#faq .card {
    border: #444;
}

#faq a {
    color: #fff;
    text-decoration: none;
}

#faq .card-body, 
#faq .card-header {
    background: #333;
}

.insta-social-icon-contact:hover {
    width: 21px;
    height: 21px;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c757d;
  }
  .social-links a {
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(49, 46, 46);
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .social-links a:hover {
    background: #6AAEEF;
    color: white;
  }

  .contact-us-section {
    border-bottom: 3px solid #6AAEEF;
  }

  #page-header {
    height: 150px;
    background: url('/img/slideshow/IMG_8204.JPG');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: white;
    border-bottom: 1px #eee solid;
    padding-top: 40px;
}

.wedding-img {
    height: 550px;
    margin-top: -50px;
    border: solid white 3px;
}

#what-we-do {
    height: 100px;
    background-color: #7DBBF4;
    color: white;
    border-bottom: 1px #eee solid;
    padding-top: 20px;
}

.testimonial-paragraph {
    font-size: 15px;
}

#video-play-about {
    position: relative;
    min-height: 200px;
    background: url('../img/beach.jpg');
    background-attachment: fixed;
    background-position:0 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.insta-social-icon:hover {
    width: 28px;
    height: 28px;
}

.footer-email {
    text-decoration:none; 
    color: white
}

#main-footer {
    border-top: 3px solid black;
}

.footer-new {
    background-color: #343A40;
    border-top: 3px solid black;
}

.travel-blog-banner {
    height: 350px;
    min-height: 350px;
    background-image: url('https://ucarecdn.com/b1590556-eafc-4b78-a817-97a541b3821f/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:0 70%;
    color: white;
  }
  .travel-blog-banner h1 {
    font-size: 70px;
  }
  .travel-blog-header-img {
    height: 350px;
    margin-top: -30px;
    border: solid white 3px;
}

.travel-blog-banner-oceania {
    height: 350px;
    min-height: 350px;
    background-image: url('https://ucarecdn.com/78d1fe0a-6a27-4c8d-b92e-bcf0a7b2a66c/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:0 45%;
    color: white;
}
.travel-blog-banner-oceania h1 {
    font-size: 70px;
  }

.travel-blog-banner-europe {
    height: 350px;
    min-height: 350px;
    background-image: url('https://ucarecdn.com/a1ef82ef-f378-4ad0-8500-3dc6f350ce00/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:0 45%;
    color: white;
}
.travel-blog-banner-europe h1 {
    font-size: 70px;
    text-shadow: 2px 4px 3px #000;
  }

.travel-blog-banner-america {
    height: 350px;
    min-height: 350px;
    background-image: url('https://ucarecdn.com/9a59df13-d56a-4896-bc8f-6bf08d5b30f9/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:0 35%;
    color: white;
}
.travel-blog-banner-america h1 {
    font-size: 70px;
    text-shadow: 2px 4px 3px #000;
  }

.travel-blog-banner-centralAmerica {
    height: 350px;
    min-height: 350px;
    background-image: url('https://ucarecdn.com/abb782c3-353a-4752-8593-e99b76ab567e/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:0 35%;
    color: white;
}
.travel-blog-banner-centralAmerica h1 {
    font-size: 70px;
    text-shadow: 2px 4px 3px #000;
  }

.photo-gallery-continents {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.country-email {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.country-email:active {
    outline: 0
}
.country-email:hover {
    opacity: .75; 
}


