.travel-map {
    margin-top: 25px;
}

.gallery-section {
    border-bottom: 2px solid black;
}

#video-play-nyc {
    position: relative;
    min-height: 200px;
    background: url('../img/nyc.jpg');
    background-attachment: fixed;
    background-position:50% 80%;
    /* background-repeat: no-repeat; */
    text-align: center;
    color: #fff;
}

.country-header {
    border-bottom: solid 1px black;
    padding: 10px;
    margin: 0 50px 50px 50px;
}

.photo-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}